.address {
  line-height: 24.3px;
  font-size: 18px;
  text-underline-position: under;
  justify-self: end;
  font-style: inherit;
}
.address_header_width {
  max-width: 240px;
}

header__links-list-item {
  text-decoration: underline;
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list {
  gap: 31px;

  display: flex;
  list-style-type: circle;
}

.header__menu {
  display: flex;
  align-items: flex-start;
  list-style: circle;
  gap: 33px;
}

.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  text-decoration-skip-ink: none;
}

.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.header__link {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}

.street__adress {
  letter-spacing: 0;
}

.cover {
  position: relative;
  z-index: 0;
  color: #fff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
}

.aligned-text {
  letter-spacing: 0.3em;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-left: 38px;
  margin-top: 10px;
}

.aligned-text_right {
  margin-right: -29px;
  margin-top: 14px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 102px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 0.84em;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 183px 24px 146px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 25px;
  max-width: 1100px;
  color: #fff;
}

.card-link {
  width: 100%;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 334px;
  min-height: 596px;
  padding: 48px 40px 47px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}
.card_type_picture .card__text {
  margin-top: 20px;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  padding: 30px 820px 2px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 5px;
}

.about {
  padding: 0 24px 181px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 695px;
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 7px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-image {
  display: block;
  width: 148px;
}

.about__info {
  margin-top: 107px;
}

.about__title {
  margin-bottom: 99px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  letter-spacing: 0px;
  word-spacing: 0.5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.footer {
  display: grid;
  grid-template-columns: 242px 519px 240px;
  padding: 0 50px 88px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 4.5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
}

.address_footer_width {
  max-width: 265px;
}
