.address {
  flex-direction: column;
  line-height: 24.3px;
  max-width: 240px;
  text-underline-position: under;
  justify-self: end;
  font-style: inherit;

  /* 
  text-decoration-thickness: 1px;
  font-weight: 400;
  white-space: nowrap;

  font-size: 18px;

  text-align: left;
  
  text-underline-offset: 4px;
  letter-spacing: 0.01em; */
}

header__links-list-item {
  text-decoration: underline;
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list {
  gap: 31px;
  /*  padding-left: 26px; */
  display: flex;
  list-style-type: circle;
}

.header__logo {
  /* display: block;
  width: 129.11px; */
}

.header__menu {
  display: flex;
  align-items: flex-start;
  list-style: circle;
  gap: 33px;
}

.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  text-decoration-skip-ink: none;

  /* grid-template-columns: 4fr 3fr 2.5fr; */
  /* grid-template-columns: 460px 330px 500px; */

  /*   text-align: left;
  font-weight: 400; */
}

.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.header__link {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}

.street__adress {
  letter-spacing: 0;
}
