/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    font-family: "Raleway", system-ui, -apple-system, Segoe UI, Roboto, Arial,
        sans-serif;
}

.header__logo {
    display: grid;
    width: 148px;
    height: 105px;
}


.header__menu-list {
    font-family: "Raleway", system-ui, -apple-system, Segoe UI, Roboto, Arial,
        sans-serif;
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0;
    /* все расстояния контролируем маркерами */
}

.header__menu-item {
    display: flex;
    align-items: center;
    position: relative;
}

.header__menu-item:not(:last-child)::after {
    content: "";
    display: grid;
    width: 6px;
    height: 6px;
    margin: 0 16px;
    background: transparent;
    border: 0.5px solid #b3b3b3;
    border-radius: 50%;
    vertical-align: middle;
}


.header__menu-link {
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

.header__menu-item_active .header__menu-link {
    text-decoration: none;
}


.header__contacts {
    font-family: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
        sans-serif;
    font-style: normal;
    width: 240px;
    justify-self: end;
    display: flex;
    margin-right: 50px;
    flex-direction: column;
}


.header__contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__contacts-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    color: #000;
}

.header__contacts-link {
    color: #000;
    text-decoration: underline;
    text-underline-position: under;
    padding: 0;
}

.header__contacts-link:hover,
.header__contacts-link:focus {
    color: #4b6cb7;
}

.content-section {
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    margin: auto;
    box-sizing: border-box;
}

.content-section_theme_dark {
    color: #fff;
    background-color: #fff;
}