.address {
  flex-direction: column;
  line-height: 24.3px;
  max-width: 240px;
  text-underline-position: under;
  justify-self: end;
  font-style: inherit;
}

header__links-list-item {
  text-decoration: underline;
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list {
  gap: 31px;

  display: flex;
  list-style-type: circle;
}

.header__menu {
  display: flex;
  align-items: flex-start;
  list-style: circle;
  gap: 33px;
}

.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  text-decoration-skip-ink: none;
}

.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.header__link {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}

.street__adress {
  letter-spacing: 0;
}

.cover {
  margin-left: 6px;
  position: relative;
  z-index: 0;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-size: cover;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
}

.aligned-text {
  letter-spacing: 0.3em;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-left: 38px;
  margin-top: 10px;
}

.aligned-text_right {
  margin-right: -29px;
  margin-top: 16px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 0.84em;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
}
